<%- include("header") -%>

<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <!-- <div class="col-12 text-center">
        <h1 class="font-weight-light text-light">Về Chúng Tôi</h1>
        <p class="lead text-light">Tập đoàn khách sạn Mường Thanh</p>
      </div> -->
    </div>
  </div>
</header>

<!-- End of Header -->

<!-- about us -->

<div class="container">
  <div class="row py-5">

    <div class="col-md-6 d-block-sm pb-4">
      <h2>VỀ CHÚNG TÔI</h2>
      <p class="lead">CÂU CHUYỆN VỀ MƯỜNG THANH “Không gian thanh thản,
         tình cảm chân thành” </p>
      <p>Tại Mường Thanh, chúng tôi mời bạn cùng khởi hành chuyến đi tìm về không gian thanh thản chứa đựng những nét văn hóa mang đậm tinh thần bản sắc Việt, nơi con người gắn kết và thân ái gửi trao nhau tình cảm chân thành. Trải dọc khắp mọi vùng miền của đất nước Việt Nam xinh đẹp cùng các nước trong khu vực Đông Nam Á,
        Mường Thanh đồng hành cùng bạn ở khắp nơi, cho mọi hành trình, ở mọi giai đoạn của cuộc sống.</p>
      <p>Những bước đi vững chãi và được đầu tư tâm huyết của Tập đoàn Khách sạn Mường Thanh sẽ là bước đệm quan trọng để Mường Thanh phát triển bền vững và vươn mình mạnh mẽ không chỉ phạm vi đất nước Việt Nam mà còn vươn mình ra trường quốc tế. Chặng đường dài phía trước, người Mường Thanh đồng lòng mở ra tiềm năng phát triển mới,
        hiện thực khát vọng trở thành thương hiệu đại diện quốc gia trong ngành lưu trú Việt Nam và ghi dấu giá trị khách sạn Việt trên bản đồ thế giới.</p>
    </div>

    <div class="col-md-6 d-block-sm">
      <img class="w-100" src="images/history.jpg" alt="Hotel outdoor at night">
    </div>

  </div> <!-- row -->
</div> <!-- container -->

<!-- End of about us -->

<!-- History -->

<div class="container">
  <div class="row py-5">

    <div class="col-md-6 d-block-sm">
      <img class="w-100" src="images/history.jpg" alt="Hotel outdoor at night">
    </div>

    <div class="col-md-6 d-block-sm pb-4">
      <h2>LỊCH SỬ</h2>
      <p class="lead">HỆ THỐNG KHÁCH SẠN TƯ NHÂN LỚN NHẤT ĐÔNG DƯƠNG </p>
      <p>Thắp sáng bản đồ ngành lưu trú Việt Nam, khẳng định vị thế vững chắc cho riêng mình, Tập đoàn Khách sạn Mường Thanh đã tạo được chỗ đứng trong lòng khách hàng và du khách trong và ngoài nước.
        Là Hệ thống Khách sạn tư nhân lớn nhất tại Đông dương, Mường Thanh tự hào sở hữu gần 60 khách sạn với sức chứa hơn 10.000 phòng, tạo việc làm và môi trường phát triển cho hơn 10.000 lao động,
        đóng góp vào ngân sách quốc gia hàng ngàn tỷ đồng mỗi năm. Những thành quả ấn tượng đó được Mường Thanh hình thành và phát triển qua bề dày hơn 25 kinh nghiệm,
        sự đồng lòng tập thể và khát vọng không ngừng hoàn thiện và phát triển kinh doanh song hành mang lại lợi ích bền vững cho đất nước và con người Việt.</p>
     </div>



  </div> <!-- row -->
</div> <!-- container -->

<!-- End of History -->

<!-- about us -->

<div class="container">
  <div class="row py-5">

    <div class="col-md-6 d-block-sm pb-4">
      <h2>MỤC TIÊU PHÁT TRIỂN BỀN VỮNG</h2>
      <p class="lead">Đồng hành cùng địa phương phát triển kinh tế - môi trường du lịch bền vững</p>
      <p>Chúng tôi tin rằng Phát triển bền vững sẽ là định hướng đúng đắn cho mọi hoạt động kinh doanh. Bởi lẽ đó, Tập đoàn khách sạn Mường Thanh luôn kiên định với triết lý kinh doanh gắn liền với sứ mệnh gìn giữ và phát triển giá trị Việt, thực hiện và thúc đẩy các hoạt động bảo tồn và giới thiệu nét đẹp của con người Việt cùng văn hóa độc đáo của các dân tộc Việt Nam. Chúng tôi đồng thời nỗ lực góp phần vào sự phát triển của nền kinh tế địa phương thông qua việc mở rộng đầu tư với quy mô lớn tại nhiều vùng kinh tế đang phát triển, tạo hàng ngàn việc làm,
        đào tạo nguồn nhân lực lĩnh vực dịch vụ du lịch, cùng với rất nhiều các hoạt động vì cộng đồng và môi trường sống khác.</p>
      <p>Tập đoàn khách sạn Mường Thanh kỳ vọng sẽ phát triển mạnh mẽ và bền vững trong tương lai,
        song hành với sự phát triển của xã hội và đất nước.</p>
    </div>

    <div class="col-md-6 d-block-sm">
      <img class="w-100" src="images/history.jpg" alt="Hotel outdoor at night">
    </div>

  </div> <!-- row -->
</div> <!-- container -->

<!-- End of about us -->

<script type="text/javascript">
  $('#nav-home').removeClass('active');
  $('#nav-about').addClass('active');
</script>

<%- include("footer") -%>
