<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- <%# CSS Style Sheet %> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300&display=swap" rel="stylesheet">
   <!-- favicon -->
  <link rel="icon" type="image/png" href="images/favicon.png">

  <!-- <%# Font awesome free 5.15.1 %> -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <title> ROYAL HOTEL </title>
</head>

<body>

  <!-- Navigation -->

  <nav class="navbar bg-dark navbar-dark navbar-expand-md fixed-top">
    <div class="container ">

      <a class="navbar-brand " href="/" style="color: #DBB621;">ROYAL HOTEL</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myTogglerNav"
        aria-controls="myTogglerNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="myTogglerNav">

        <div class="navbar-nav ml-auto pt-1">
          <a id="nav-home" class="nav-item nav-link active" href="/">TRANG CHỦ</a>
          <a id="nav-about" class="nav-item nav-link" href="/about">VỀ CHÚNG TÔI</a>
          <a id="nav-rooms" class="nav-item nav-link" href="/rooms">LOẠI PHÒNG</a>
          <a id="nav-services" class="nav-item nav-link" href="/services">DỊCH VỤ</a>
          <a id="nav-contact" class="nav-item nav-link" href="/contact">LIÊN HỆ</a>

          <div class="mb-1">
            <button type="button" class="btn btn-primary pb-2 text-uppercase" data-toggle="modal"
              data-target="#servicesmodal">ĐẶT
              NGAY</button>
          </div>

        </div> <!-- navbar-nav -->

      </div> <!-- collapse -->

    </div> <!-- container -->

  </nav> <!-- navbar -->
  <!-- End of Navigation -->

  <!-- Book Now Modal -->

  <div class="modal fade" id="servicesmodal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <h2 class="modal-title text-center pb-4">Đặt Ngay</h2>

          <form>

            <fieldset class="form-group">

              <div class="form-group form-row">
                <div class="form-group col">
                  <label class="col-form-label" for="check-in">NGÀY ĐẾN</label>
                  <input class="form-control" type="date" id="check-in">
                </div><!-- form-group -->

                <div class="form-group col">
                  <label class="col-form-label" for="check-out">NGÀY ĐI</label>
                  <input class="form-control" type="date" id="check-out">
                </div><!-- form-group -->
              </div><!-- form-group -->

              <div class="form-group form-row" style="margin-bottom: 5px;">
                <div class="form-group col" style="margin-bottom: 0px;">
                  <label class="col-form-label"> NGƯỜI LỚN</label>
                  <select class="form-control" required>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                </div><!-- form-group -->

                <div class="form-group col" style="margin-bottom: 0px;">
                  <label class="col-form-label">TRẺ EM</label>
                  <select class="form-control">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                  </select>
                </div><!-- form-group -->
              </div><!-- form-group -->
              <p style="font-size: 10px; color:red;">*Người trên 18 tuổi là người lớn</p>

              <div class="form-group row w-100 mx-auto">
                <label class="col-form-label">PHÒNG</label>
                <select class="form-control">
                  <option>Luxury Suite</option>
                  <option>Signature Room</option>
                  <option>Classic Room</option>
                  <!-- <option>Deluxe Room</option> -->
                </select>
              </div><!-- form-group -->

              <div class="form-group row pt-5">
                <div class="col-auto">
                  <button class="btn btn-primary" type="submit"><a href="/booking" style="color: white; text-decoration: none;">Submit</a></button>
                </div>
              </div>

            </fieldset> <!-- form-group -->

          </form>

        </div> <!-- modal body -->
      </div> <!-- modal content -->
    </div> <!-- modal dialog -->
  </div> <!-- modal -->

  <!-- End of Book Now Modal -->
