<%- include("header") -%>

<!-- Image Slider -->

<div class="carousel slide carousel-fade carousel-fullscreen" id="featured" data-ride="carousel">

  <ul class="carousel-indicators">
    <li data-target="#featured" data-slide-to="0" class="active"></li>
    <li data-target="#featured" data-slide-to="1"></li>
    <li data-target="#featured" data-slide-to="2"></li>
  </ul>

  <div class="carousel-inner">
    <!-- Slide 1-->
    <div class="carousel-item active slide-1"></div>
    <!-- Slide 2 -->
    <div class="carousel-item slide-2"></div>
    <!-- Slide 3 -->
    <div class="carousel-item slide-3"></div>
  </div><!-- carousel-inner -->

  <a class="carousel-control-prev" href="#featured" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true">
      <span class="sr-only">Previus</span>
    </span>
  </a>

  <a class="carousel-control-next" href="#featured" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true">
      <span class="sr-only">Next</span>
    </span>
  </a>

</div> <!-- carousel -->

<!-- About Us -->
<section id = 'section-about'>
<div class="container">

  <div class="row py-5">

    <div class="col-md-6 text-justify d-block-sm pb-4">
      <h2>VỀ CHÚNG TÔI</h2>
      <p class="lead">Trải dọc khắp mọi vùng miền của đất nước Việt Nam xinh đẹp cùng các nước trong khu vực Đông Nam Á,
         Royal Hotel đồng hành cùng bạn ở khắp nơi, cho mọi hành trình, ở mọi giai đoạn của cuộc sống.</p>
        <p>Royal Hotel tiêu chuẩn bao gồm các khách sạn 3-4 sao, nằm ở trung tâm của các thành phố, thị trấn trên khắp cả nước.
            Với giá cả hợp lý cùng dịch vụ đạt chuẩn, khách sạn thuộc nhóm Royal Hotel với không gian gần gũi,
           ấm cúng mang đến cho khách hàng những trải nghiệm thân thiết, gần gũi như “ngôi nhà phương xa” của chính mình... <span>
             <a href="/about"> <u style="color: gray">Xem thêm</u></a></span></p>
      <div>
      </div>
    </div>
    <div class="col-md-6 d-block-sm">
      <img class="w-100" src="images/about-index.jpg" alt="Hotel lobby">
    </div>

  </div> <!-- row -->
</div> <!-- container -->
</section>
<!-- End of About -->

<!-- Rooms -->
<section id = "section-room">
<div class="container">
  <div class="row">
    <h2 class="col-sm-12 text-center py-5" >LOẠI PHÒNG</h2>
    <div class="col-sm-4">
      <section class="card mb-5">
        <img class="card-img-top img-fluid" src="images/room-deluxe-index.jpg" alt="Hotel bedroom">
        <div class="card-body">
          <h3 class="card-title py-2">Deluxe Room</h3>
          <h4 class="card-subtitle">Luxaries condition</h4>
          <p class="card-text">Phòng Deluxe có diện tích nhỏ nhất là 37m2, là loại phòng cao cấp với đầy đủ các tiện nghi sang trọng
            ... <span>
              <a href="/about"> <u style="color: gray">Xem thêm</u></a></span></p>
        </div>
      </section>
    </div>

    <div class="col-sm-4">
      <section class="card mb-5">
        <img class="card-img-top img-fluid" src="images/room-excutive-index.png" alt="Hotel bedroom">
        <div class="card-body">
          <h3 class="card-title py-2">Excutive Suite</h3>
          <h4 class="card-subtitle">Luxaries Condition</h4>
          <p class="card-text">Phòng Excutive Suite của khách sạn Royal Hotel Phú Quốc có diện tích 77m2, bao gồm 1 giường đôi, đẹp
            ... <span>
              <a href="/about"> <u style="color: gray">Xem thêm</u></a></span></p>
        </div>
      </section>
    </div>

    <div class="col-sm-4">
      <section class="card mb-5">
        <img class="card-img-top img-fluid" src="images/rooms-slide-4.jpg" alt="Hotel bedroom">
        <div class="card-body">
          <h3 class="card-title py-2">Presidential Suite</h3>
          <h4 class="card-subtitle">Luxaries Condition</h4>
          <p class="card-text">Phòng Presidential Suite hay còn gọi là phòng Tổng Thống là căn phòng có vị trí độc đáo duy nhất bên trong
            ... <span>
              <a href="/about"> <u style="color: gray">Xem thêm</u></a></span></p>
        </div>
      </section>
    </div>

  </div> <!-- row -->
</div> <!-- container -->
</section>
<!-- End of Rooms -->

<!-- Services -->
<section id ='section-service'>
  <div class="container">
  <div class="row">

    <h2 class="col-sm-12 text-center py-5">DỊCH VỤ</h2>

    <div class="col-md-4">
      <section class="mb-5">
        <img class="img-fluid" src="images/events-index.jpg" alt="Hotel indoors">
        <h4 class="services-title py-2">Hội Họp & Sự Kiện</h4>
        <p class="py-2">HỆ THỐNG PHÒNG HỌP TRẢI DÀI THEO VỊ TRÍ KHÁCH SẠN TRÊN CẢ NƯỚC ĐƯỢC THIẾT KẾ KỸ LƯỠNG VỚI CÔNG NĂNG HIỆU QUẢ,
          CUNG CẤP TRANG THIẾT BỊ HIỆN ĐẠI CÙNG SỨC CHỨA LỚN NHẤT TRONG KHU VỰC
          ... <span>
            <a href="/about"> <u style="color: gray">Xem thêm</u></a></span></p>
      </section>
    </div>

    <div class="col-md-4">
      <section class="mb-5">
        <img class="img-fluid" src="images/restaurants-index.jpg" alt="Hotel restaurant">
        <h4 class="services-title py-2">Nhà Hàng & Bars</h4>
        <p class="py-2">KHÁM PHÁ HÀNH TRÌNH MÊ HOẶC CỦA VỊ GIÁC VỚI CUNG ĐƯỜNG ẨM THỰC TÂY BẮC,
          TRẢI NGHIỆM ẨM THỰC CÁC VÙNG MIỀN HAY TINH HOA CÁC MÓN ĂN ÂU Á THEO PHONG CÁCH ẨM THỰC RIÊNG BIỆT CỦA Royal Hotel
          ... <span>
            <a href="/about"> <u style="color: gray">Xem thêm</u></a></span></p>
      </section>
    </div>

    <div class="col-md-4">
      <section class="mb-5">
        <img class="img-fluid" src="images/services-index.jpg" alt="Hotel bar">
        <h3 class="services-title py-2"> Dịch Vụ Khác</h3>
        <p class="py-2">THẢ MÌNH TRONG LÀN NƯỚC TRONG XANH CỦA BỂ BƠI THIẾT KẾ HIỆN ĐẠI, CHUẨN PHONG CÁCH TRÊN TẦNG CAO HAY KHÔNG
          GIAN HOÀ QUYỆN ĐẬM NÉT THIÊN NHIÊN TẠI CHUỔI HỆ THỐNG KHÁCH SẠN Royal Hotel ... <span>
            <a href="/about"> <u style="color: gray">Xem thêm</u></a></span></p>
      </section>
    </div>

  </div><!-- row -->
</div> <!-- container -->
</section>

<!-- End of Services -->

<!-- Reviewer -->

  <section id="reviewer">
    <div id="carousel-testimonial" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="carousel-testimonial" data-slide-to="0" class="active"></li>
        <li data-target="carousel-testimonial" data-slide-to="1"></li>
        <li data-target="carousel-testimonial" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h2>Phục vụ ở đây rất tốt, dịch vụ đầy đủ tiện nghi, thích hợp cho các cặp đôi muốn tận hưởng tuần trăng mật!</h2>
          <p>⭐⭐⭐⭐⭐</p>
          <img class="reviewer-image rounded-circle" src="images/bongo.png" alt="profile">
          <em>Jack</em>
        </div>
        <div class="carousel-item">
          <h2 class="testimonial-text">Perfect hotel for refresh idea after a long work!</h2>
          <p>⭐⭐⭐⭐⭐</p>
          <img class="reviewer-image rounded-circle" src="images/bongo.png" alt="profile">
          <em>Beverly</em>
        </div>
        <div class="carousel-item">
          <h2 class="testimonial-text">Thank you, but the hotel's website need improve more!</h2>
          <p>⭐⭐⭐⭐</p>
          <img class="reviewer-image rounded-circle" src="images/bongo.png" alt="profile">
          <em>Beverly</em>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carousel-testimonial" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next" href="#carousel-testimonial" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
    </div>


  </section>


<%- include("footer") -%>
