<%- include('header') -%>

<!-- Header -->

<header class="masthead services-masthead mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light text-light"> DỊCH VỤ </h1>
        <p class="lead text-light" style="text-align: center;">See our latest news</p>
      </div>
    </div>
  </div>
</header>

<!-- End of Header -->

<!-- Main -->

<div class = "col-9 center"  >
  <div class="row py-2" >
    <div class = "col d-block-sm pb-4" style="text-align: center;">
      <a style="color:rgb(112, 112, 104);" href="/services" style="">HỘI HỘP VÀ SỰ KIỆN</a>
    </div>
    <div class = "col d-block-sm" style="text-align: center;">
      <a style="color:rgb(226, 19, 19);" href="/restaurant-bar">NHÀ HÀNG & BAR</a>
    </div>
    <div class = "col d-block-sm" style="text-align: center;">
      <a style="color:rgb(112, 112, 104);" href="/services-other">CÁC DỊCH VỤ KHÁC</a>
    </div>
  </div>
  <div class="col-12"style="padding-left: 0px;padding-right: 0px;">
    <img class="w-100" src="images/restaurant-bar.jpg">
  </div>
  <div >
    <div  class="row border-inset" style="margin-left: 0px;margin-right: 0px;">
      <div class = "col d-block-sm pb-4">
        <div class="center">
          <br>
          <br>
          <br>
          <p id = "top-left">&nbsp;&nbsp;&nbsp;&nbsp;<b>25 NHÀ HÀNG & BAR   <br> &nbsp;&nbsp;&nbsp;&nbsp;TRẢI KHẮP ĐẤT <br> &nbsp;&nbsp;&nbsp;&nbsp;NƯỚC</b> <br>
            <br>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="about.html" class="btn btn-warning text-uppercase pb-2 active font-size" role="button" aria-pressed="true">Xem
              thêm</a></p>
          <br>
        </div>
      </div>
      <div class = "col text-justify font-size">
        <p class="py" style="color:gray;"> KHÁM PHÁ HÀNH TRÌNH MÊ HOẶC CỦA VỊ GIÁC VỚI CUNG ĐƯỜNG ẨM THỰC TÂY BẮC, TRẢI NGHIỆM ẨM THỰC CÁC VÙNG MIỀN HAY TINH HOA CÁC MÓN ĂN ÂU Á THEO PHONG CÁCH ẨM THỰC RIÊNG BIỆT CỦA MƯỜNG THANH. MƯỜNG THANH ĐƯA BẠN CHU DU THEO NÉT VĂN HÓA ĐẶC TRƯNG CỦA ĐỒNG BÀO DÂN TỘC THÁI VỚI NHỮNG ĐẶC SẢN MÀ ĐẤT TRỜI ƯU ĐÃI BAN TẶNG CHO NÚI RỪNG TÂY BẮC NHƯ: NỘM MĂNG TÂY BẮC, PA PỈNH TỘP (CÁ NƯỚNG MẮC KHÉN), XÔI CHIM ĐIỆN BIÊN, XÔI NGŨ SẮC, RƯỢU TÁO MÈO, THỊT TRÂU, CÁY PỈNH (GÀ NƯỚNG), CANH RÊU ĐÁ, CÁ BỐNG VÙI TRO, NỘM HOA BAN, LỢN BẢN NƯỚNG… KHÔNG CHỈ GÓI TRỌN CẢ PHONG VỊ CỦA NÚI RỪNG TÂY BẮC HÙNG VĨ MANG ĐẾN BÀN TIỆC THIẾT ĐÃI BẠN, MƯỜNG THANH CÒN GIỚI THIỆU ĐẾN DU KHÁCH NHỮNG MÓN ĂN ĐẬM HƠI THỞ ẨM THỰC VÙNG MIỀN Ở MỖI ĐỊA PHƯƠNG QUA BÀN TAY TÀI TÌNH CỦA NGƯỜI ĐẦU BẾP VIỆT GIÀU KINH NGHIỆM. VÀ NẾU CÓ CƠ HỘI THƯỞNG THỨC PHƯƠNG VỊ ÂU Á, NÉT THƠM NGON QUYỆN CÙNG SỰ SÁNG TẠO, PHỤC VỤ THIỆN TÌNH CỦA NHÂN VIÊN MƯỜNG THANH SẼ KHIẾN DU KHÁCH KHÔNG KHỎI THÍCH THÚ ĐẾN BẤT NGỜ. TẤT CẢ ĐỀU SẴN SÀNG PHỤC VỤ BẠN TẠI TẠI HỆ THỐNG NHÀ HÀNG VÀ QUÁN BAR SANG TRỌNG CỦA HỆ THỐNG CHUỖI KHÁCH SẠN MƯỜNG THANH!</p>
      </div>
      <div class = "col ">
      </div>
      <div class = "col">
      </div>

    </div>
    <div class="row border-outset" style="margin-left: 0px;margin-right: 0px;">
      <div class="col pb-4">
          <br><br><br>
        <p id = "top-left"> <b> SPECIALITIES </b></p>
      </div>
      <div class="col-6" style="padding-left: 0px;padding-right: 0px;">
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="carousel slide carousel-fade carousel-fullscreen" id="featured" data-ride="carousel">
            <ul class="carousel-indicators">
              <li data-target="#featured" data-slide-to="0" class="active"></li>
              <li data-target="#featured" data-slide-to="1"></li>
              <li data-target="#featured" data-slide-to="2"></li>
            </ul>

            <div class="carousel-inner" style="height: 450px;">
              <div style="height: 10px;" class="carousel-item active rooms-slide-5">
              </div>

              <div class="carousel-item rooms-slide-6" style="height: 10px;">
              </div>

              <div class="carousel-item rooms-slide-7" style="height: 10px;">
              </div>

            </div> <!-- carousel-inner -->

            <a class="carousel-control-prev" href="#featured" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true">
                <span class="sr-only">Previus</span>
              </span>
            </a>

            <a class="carousel-control-next" href="#featured" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true">
                <span class="sr-only">Next</span>
              </span>
            </a>

          </div> <!-- carousel -->
        <br><br><br><br><br><br><br><br><br><br><br><br>
      </div>

      <div class="col" style="padding-left: 10px;">
        <br>
        <br><br><br><br>
        <div class="carousel slide carousel-fade carousel-fullscreen" id="featured" data-ride="carousel">
            <ul class="carousel-indicators">
              <li data-target="#featured" data-slide-to="0" class="active"></li>
              <li data-target="#featured" data-slide-to="1"></li>
              <li data-target="#featured" data-slide-to="2"></li>
            </ul>

            <div class="carousel-inner" style="height: 450px;">
              <div style="height: 10px;" class="carousel-item active rooms-slide-6">
              </div>

              <div class="carousel-item rooms-slide-7" style="height: 10px;">
              </div>

              <div class="carousel-item rooms-slide-5" style="height: 10px;">
              </div>

            </div> <!-- carousel-inner -->

            <a class="carousel-control-prev" href="#featured" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true">
                <span class="sr-only">Previus</span>
              </span>
            </a>

            <a class="carousel-control-next" href="#featured" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true">
                <span class="sr-only">Next</span>
              </span>
            </a>

          </div> <!-- carousel -->
      </div>
    </div>
  </div>

  </div>
</div>

<!-- End of Main -->

<script type="text/javascript">
  $('#nav-home').removeClass('active');
  $('#nav-services').addClass('active');
</script>


<%- include('footer') -%>
