<%- include("header") -%>

<!-- Header -->

<header class="masthead rooms-masthead mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light text-light">LOẠI PHÒNG</h1>
        <p class="lead text-light">We hope you’ll enjoy your stay</p>
      </div>
    </div>
  </div>
</header>

<!-- End of Header -->

<!-- Subtitle -->

<!-- <div class="container text-center pt-5">
  <h2>Presidential Offer</h2>
  <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga nobis quas aspernatur non ipsa
    explicabo, eum nisi temporibus sunt est itaque quod, repellendus tempore impedit doloribus repudiandae, eaque
    mollitia cupiditate.</p>
</div> -->

<!-- End of Subtitle -->

<!-- Luxury Suite -->

<div class="col-12">
  <div class="row pt-2">

    <div class="col-md-6 d-block-sm p-5 bg-danger text-light">
      <h2>Presidential Suite</h2>
      <p class="lead">Phòng Presidential Suite hay còn gọi là phòng Tổng Thống là căn phòng có vị trí độc đáo duy nhất trong tòa nhà của khách sạn Mường Thanh Phú Quốc, rộng tới 600m2, sở hữu góc nhìn đẹp với lối thiết kế không gian mở đầy sáng tạo.
        Đồ nội thất tinh xảo được bày trí một cách gọn gàng khéo léo, nổi bật sự sang trọng, cao quý, lộng lẫy như không gian của một ông hoàng.
        Trong phòng có hai phòng ngủ 1 giường đôi, 2 giường đơn, 1 phòng khách với bàn làm việc.
        Bên cạnh đó là quầy bar, bếp, bàn ăn với một phòng xông hơi hiện đại cực tiện ích.</p>

      <p>Giá phòng Presidential Suite của khách sạn Mường Thanh Phú Quốc thấp nhất từ 27,900,000đ/đêm.</p>

      <!--Icons -->
      <div class="icons">
        <i class="fas fa-wifi"></i>
        <i class="fas fa-tv"></i>
        <i class="fas fa-swimmer"></i>
        <i class="fas fa-parking"></i>
      </div>

      <div>
        <button type="button" class="btn btn-primary pb-2 my-4 text-uppercase" data-toggle="modal"
          data-target="#servicesmodal">Book
          Now</button>
      </div>

    </div> <!-- col-md-6 -->

    <!-- Image Slider -->

    <div class="col-md-6 d-block-sm p-0">

      <div class="carousel slide carousel-fade carousel-fullscreen" id="featured" data-ride="carousel">
        <ul class="carousel-indicators">
          <li data-target="#featured" data-slide-to="0" class="active"></li>
          <li data-target="#featured" data-slide-to="1"></li>
          <li data-target="#featured" data-slide-to="2"></li>
          <li data-target="#featured" data-slide-to="3"></li>
        </ul>

        <div class="carousel-inner">
          <div class="carousel-item active rooms-slide-1">
          </div>

          <div class="carousel-item rooms-slide-2">
          </div>

          <div class="carousel-item rooms-slide-3">
          </div>

          <div class="carousel-item rooms-slide-4">
          </div>
        </div> <!-- carousel-inner -->

        <a class="carousel-control-prev" href="#featured" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true">
            <span class="sr-only">Previus</span>
          </span>
        </a>

        <a class="carousel-control-next" href="#featured" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true">
            <span class="sr-only">Next</span>
          </span>
        </a>

      </div> <!-- carousel -->

      <!-- End of Image Slider -->

    </div> <!-- col-md-6 -->

  </div> <!-- row -->
</div> <!-- col-12 -->

<!-- End of Luxury Suite -->

<!-- Signature Room -->


<!-- Classic Room -->
<div class="col-12 p-5">
  <div class="row">

    <!-- Image -->

    <div class="col-md-6 d-block-sm">
      <img class="w-100" src="images/classic-double.jpg" alt="Hotel room">
    </div>

    <!-- End of Image -->

    <div class="col-md-6 d-block-sm px-3">
      <h2>Excutive Suite</h2>
      <p>Phòng Excutive Suite của khách sạn Mường Thanh Phú Quốc có diện tích 77m2, bao gồm 1 giường đôi, được thiết kế sang trọng với phòng khách và phòng ngủ riêng biệt, tách nhau bởi một bức rèm gỗ được gắn luôn ti vi màn hình ảnh phẳng.
        Cửa sổ chiếm nguyên một bức tường của phòng, bằng cửa kính trải rộng cả hai gian phòng tạo một tầm nhìn mở rộng ra biển Bãi Trường cùng không khí thoáng mát tràn ngập ánh sáng.
        Thiết bị tiện nghi trong phòng ngoài những vật dụng cơ bản như phòng Duluxe còn có máy pha cà phê,
        trong phòng tắm còn được chuẩn bị thêm kem dưỡng da và áo choàng tắm.</p>

      <p>Giá phòng Excutive Suite của khách sạn Mường Thanh Phú Quốc thấp nhất từ 8,780,000đ/đêm.</p>
      <!--Icons -->
      <div class="icons">
        <i class="fas fa-wifi"></i>
        <i class="fas fa-tv"></i>
        <i class="fas fa-swimmer"></i>
        <i class="fas fa-parking"></i>
      </div>

      <div>
        <button type="button" class="btn btn-primary pb-2 my-4 text-uppercase" data-toggle="modal"
          data-target="#servicesmodal">Book
          Now</button>
      </div>

    </div> <!-- col-md-6 -->

  </div> <!-- row -->
</div> <!-- col-12 -->

<!-- End of Classic Room -->

<!-- Deluxe Room -->

<div class="col-12 p-5">
  <div class="row py-0">

    <!-- Image -->

    <div class="col-md-6 d-block-sm">
      <img class="w-100" src="images/deluxe-white-wooden.jpg" alt="Hotel room">
    </div>

    <!-- End of Image -->

    <div class="col-md-6 d-block-sm px-3">
      <h2>Deluxe Room</h2>
      <p>Phòng Deluxe có diện tích nhỏ nhất là 37m2, là loại phòng cao cấp với đầy đủ các tiện nghi sang trọng và cũng là loại phòng tiêu chuẩn thấp nhất trong khách sạn Mường Thanh Phú Quốc.
        Trong phòng có điều hòa, két an toàn, điện thoại quốc tế, tủ lạnh, máy sấy tóc, ấm siêu tốc, bàn làm việc, bàn uống nước, tủ quần áo, tivi LCD Plasma,vv…các phòng đều được điểm tô bằng một bình hoa tươi.
        Thiết kế trong phòng với những dụng cụ hình tròn tạo vẻ mới lạ. Phòng Deluxe có view nhìn hướng núi hoặc hướng biển, được phân thành ba loại khác nhau:
        Deluxe King (1 giường đôi dành cho 1 hoặc hai người), Deluxe Twins (2 giường đơn dành cho hai người) và Deluxe Triple (3 giường đơn dành cho 3 người).
        Phòng Deluxe Triple có diện tích rộng 40m2.</p>

      <p>Giá phòng Deluxe tại khách sạn Mường Thanh Phú Quốc thấp nhất từ 4,920,000đ/đêm.
        Đây cũng là căn phòng được khá nhiều du khách lựa chọn khi lưu trú tại khách sạn.</p>

      <!--Icons -->
      <div class="icons">
        <i class="fas fa-wifi"></i>
        <i class="fas fa-tv"></i>
        <i class="fas fa-swimmer"></i>
        <i class="fas fa-parking"></i>
      </div>

      <div>
        <button type="button" class="btn btn-primary pb-2 my-4 text-uppercase" data-toggle="modal"
          data-target="#servicesmodal">Book
          Now</button>
      </div>

    </div> <!-- col-md-6 -->

  </div> <!-- row -->
</div> <!-- col-12 -->

<!-- End of Deluxe Room -->

<!-- Book Now Modal -->

<div class="modal fade" id="servicesmodal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <h2 class="modal-title text-center pb-4">Book Now</h2>

        <form>

          <fieldset class="form-group">

            <div class="form-group form-row">
              <div class="form-group col">
                <label class="col-form-label" for="check-in">Check In</label>
                <input class="form-control" type="date" id="check-in" value="2019-08-19">
              </div><!-- form-group -->

              <div class="form-group col">
                <label class="col-form-label" for="check-out">Check Out</label>
                <input class="form-control" type="date" id="check-out" value="2019-08-20">
              </div><!-- form-group -->
            </div><!-- form-group -->

            <div class="form-group form-row">
              <div class="form-group col">
                <label class="col-form-label">Adults</label>
                <select class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
              </div><!-- form-group -->

              <div class="form-group col">
                <label class="col-form-label">Children</label>
                <select class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
              </div><!-- form-group -->
            </div><!-- form-group -->

            <div class="form-group row w-100 mx-auto">
              <label class="col-form-label">Room</label>
              <select class="form-control">
                <option>Luxury Suite</option>
                <option>Signature Room</option>
                <option>Classic Room</option>
                <option>Deluxe Room</option>
              </select>
            </div><!-- form-group -->

            <div class="form-group row pt-5">
              <div class="col-auto">
                <button class="btn btn-primary" type="submit">Submit</button>
              </div>
            </div>

          </fieldset> <!-- form-group -->

        </form>

      </div> <!-- modal body -->
    </div> <!-- modal content -->
  </div> <!-- modal dialog -->
</div> <!-- modal -->

<!-- End of Book Now Modal -->
<script type="text/javascript">
  $('#nav-home').removeClass('active');
  $('#nav-rooms').addClass('active');
</script>

<%- include("footer") -%>
