<%- include('header') -%>

<!-- Header -->

<header class="masthead services-masthead mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light text-light"> DỊCH VỤ </h1>
        <p class="lead text-light">See our latest news</p>
      </div>
    </div>
  </div>
</header>

<!-- End of Header -->

<!-- Main -->

<div class = "col-10 justify-content-center"align='center'>
  <div class="row py-5">
    <div class = "col d-block-sm pb-4">
      <p>HỘI HỘP VÀ SỰ KIỆN</p>
    </div>
    <div class = "col d-block-sm">
      <p>NHÀ HÀNG & BAR</p>
    </div>
    <div class = "col d-block-sm">
      <p>CÁC DỊCH VỤ KHÁC</p>
    </div>
  </div>

</div>

<!-- End of Main -->

<!-- Book Now Modal -->

<div class="modal fade" id="servicesmodal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <h2 class="modal-title text-center pb-4">Book Now</h2>

        <form>

          <fieldset class="form-group">

            <div class="form-group form-row">
              <div class="form-group col">
                <label class="col-form-label" for="check-in">Check In</label>
                <input class="form-control" type="date" id="check-in" value="2019-08-19">
              </div><!-- form-group -->

              <div class="form-group col">
                <label class="col-form-label" for="check-out">Check Out</label>
                <input class="form-control" type="date" id="check-out" value="2019-08-20">
              </div><!-- form-group -->
            </div><!-- form-group -->

            <div class="form-group form-row">
              <div class="form-group col">
                <label class="col-form-label">Adults</label>
                <select class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
              </div><!-- form-group -->

              <div class="form-group col">
                <label class="col-form-label">Children</label>
                <select class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
              </div><!-- form-group -->
            </div><!-- form-group -->

            <div class="form-group row w-100 mx-auto">
              <label class="col-form-label">Room</label>
              <select class="form-control">
                <option>Luxury Suite</option>
                <option>Signature Room</option>
                <option>Classic Room</option>
                <option>Deluxe Room</option>
              </select>
            </div><!-- form-group -->

            <div class="form-group row pt-5">
              <div class="col-auto">
                <button class="btn btn-primary" type="submit">Submit</button>
              </div>
            </div>

          </fieldset> <!-- form-group -->

        </form>

      </div> <!-- modal body -->
    </div> <!-- modal content -->
  </div> <!-- modal dialog -->
</div> <!-- modal -->

<!-- End of Book Now Modal -->

<script type="text/javascript">
  $('#nav-home').removeClass('active');
  $('#nav-services').addClass('active');
</script>


<%- include('footer') -%>
