<%- include('header') -%>

<!-- Header -->

<header class="masthead services-masthead mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light text-light"> DỊCH VỤ </h1>
        <p class="lead text-light" style="text-align: center;">See our latest news</p>
      </div>
    </div>
  </div>
</header>

<!-- End of Header -->

<!-- Main -->

<div class = "col-9 center"  >
  <div class="row py-2" >
      <div class = "col d-block-sm pb-4" style="text-align: center;">
        <a style="color:rgb(112, 112, 104); text-decoration: none;" href="/services" style="">HỘI HỘP VÀ SỰ KIỆN</a>
      </div>

      <div class = "col d-block-sm" style="text-align: center;">
        <a style="color:rgb(112, 112, 104);text-decoration: none;" href="/restaurant-bar">NHÀ HÀNG & BAR</a>
      </div>

      <div class = "col d-block-sm" style="text-align: center;">
        <a style="color:rgb(226, 19, 19);text-decoration: none;" href="/services-other">CÁC DỊCH VỤ KHÁC</a>
      </div>
  </div>

  <div class="col-12"style="padding-left: 0px;padding-right: 0px;">
    <p style="text-align: center;"> <span style="font-size: 50px; font-weight: 10px;">NÂNG TẦM</span>  <br> <span  style="font-size: 50px;font-weight: 50px; ">TRẢI NGHIỆM</span> </p>
  </div>
  
  <div class="row">
    <div class="col-6" style="padding-right: 0px;">
      <div class="effect-image-1" >
        <img src="/images/dv1.jpg" alt="" style="width:100%">
          <div class="overlay-sim-text-2 overlay-xs-1" style="width:100%;padding-right: 5rem;">
            <div class="text"><p style="font-size: 0.8rem;"><span style="padding-left: 5rem;"> SPA & MASSAGE</span> <br><br> <span class="text-uppercase">
              Được chăm chút kĩ lượng từ thiết kế nội thất, không gian đến sự duyên dáng, chu đáo của nhân viên nhằm mang đến sự riêng tư, ấm áp nhưng sang trọng,
               Spa & Massage của hệ thống khách sạn Mường Thanh luôn là điểm đến yêu thích của du khách trong và ngoài nước. Chạm tay vào cánh cửa của Spa & Massage,
                du khách như đẩy lùi những ồn ào, vội vã bên ngoài để tận hưởng những phút giây thảnh thơi và lắng đọng nhất cả về thể chất và tinh thần.</span></p>
            </div>
          </div>
      </div>
      <div class="effect-image-1" >
        <img src="/images/dv4.jpg" alt="" style="width:100%">
          <div class="overlay-sim-text-2 overlay-xs-1" style="width:100%">
            <div class="text"><p style="font-size: 0.8rem;"><span style="padding-left: 7rem;"> SPORT</span> <br><br> <span class="text-uppercase">
              
              Gói trọn cuộc sống thư giãn, đầy ắp các hoạt động rèn luyện sức khỏe với các môn thể thao hấp dẫn, Mường Thanh giới thiệu đến du
               khách những dịch vụ chuyên biệt cho các môn thể thao như: Tennis, Cầu lông, Bi-a… Với lợi thế không gian rộng rãi, thiết kế hiện đại,
                niềm đam mê thể thao hay mong muốn được hòa mình vào những động tác thể dục khỏe khoắn của bạn sẽ được thỏa chí với các sân tập của chuỗi 
                hệ thống khách sạn Mường Thanh.
              Vào vị trí và sẵn sàng bắt đầu trận đấu thể thao của bạn với Mường Thanh!                     
            </span></p>
            </div>
          </div>

      </div>
    </div>
    <div class="col-6" style="padding-left:0px">
      <div class="effect-image-1" >
        <img src="/images/dv2.jpg" alt="" style="width:100%">
          <div class="overlay-sim-text-2 overlay-xs-1" style="width:100%">
            <div class="text"><p style="font-size: 0.8rem;" class="text-uppercase"><span style="padding-left: 5.5rem;"> SWIMMING POOL</span> <br><br>
            
              Thả mình trong làn nước trong xanh của bể bơi thiết kế hiện đại, chuẩn phong cách trên tầng cao hay không gian hòa quyện đậm nét thiên
               nhiên tại chuỗi hệ thống khách sạn Mường Thanh, du khách như rũ bỏ hết mọi ưu phiền. Tận hưởng sự thư thái bên hồ bơi với các món ăn nhẹ 
               và đồ uống sành điệu từ các bartender tài tình của Mường Thanh sẽ là trải nghiệm đáng nhớ cho mỗi chuyến đi của bạn.
              Hãy cùng lắng nghe giai điệu của làn nước và chăm chút dịu dàng cho cơ thể của mình tại swimming pool của Mường Thanh!
                                               </p>
            </div>
          </div>
      </div>
      <div class="effect-image-1" >
        <img src="/images/dv3.jpg" alt="" style="width:100%">
          <div class="overlay-sim-text-2 overlay-xs-1" style="width:100%">
            <div class="text"><p style="font-size: 0.8rem;" class="text-uppercase"><span style="padding-left: 5.5rem;"> fitness center</span> <br><br>
            
             
              Là cách thức duy trì chất lượng sống mạnh khỏe, trung tâm Fitness của khách sạn Mường Thanh mang không gian phòng tập rộng rãi,
               chan hòa ánh sáng tự nhiên với các trang thiết bị hiện đại, tiện nghi giúp du khách rèn luyện sự dẻo dai, bồi bổ cơ thể qua những phút
                giây thể dục thể thao.
              Tận hưởng cuộc sống an lành và tràn đầy sức sống tại mỗi Fitness Center của Mường Thanh ngay hôm nay!
                                              
                                               </p>
            </div>
          </div>
      </div>
      <div class="effect-image-1" >
        <img src="/images/dv5.jpg" alt="" style="width:100%">
          <div class="overlay-sim-text-2 overlay-xs-1" style="width:100%">
            <div class="text"><p style="font-size: 0.8rem;" class="text-uppercase"><span style="padding-left: 5.5rem;"> karaoke</span> <br><br>
            
             
              
              Phòng hát Karaoke được trang bị hệ thống âm thanh ánh sáng tiên tiến cùng không gian rộng rãi, hiện đại sẽ mang đến những phút giây thư 
              giãn giải trí sảng khoái cho du khách. Chất lượng âm thanh tuyệt vời kết hợp với sự phục vụ chu đáo của nhân viên Mường Thanh không chỉ
               giúp quý khách tái tạo năng lượng mà còn là cách kết giao tình bằng hữu hiệu quả.
              Cùng cất cao tiếng hát và âm vang sống vui vẻ tại Mường Thanh!
                                              
                                              
                                               </p>
            </div>
          </div>
      </div>
      <br>
    </div>
    <br>
  </div>
</div>

<!-- End of Main -->

<script type="text/javascript">
  $('#nav-home').removeClass('active');
  $('#nav-services').addClass('active');
</script>


<%- include('footer') -%>
