<%- include('header') -%>

<!-- Header -->

<header class="masthead services-masthead mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light text-light"> DỊCH VỤ </h1>
        <p class="lead text-light">See our latest news</p>
      </div>
    </div>
  </div>
</header>

<!-- End of Header -->

<!-- Main -->

<div class = "col-9 center"  >
  <div class="row py-2" >
    <div class = "col d-block-sm pb-4" style="text-align: center;">
      <a style="color:rgb(112, 112, 104);" href="/services" style="">HỘI HỘP VÀ SỰ KIỆN</a>
    </div>
    <div class = "col d-block-sm" style="text-align: center;">
      <a style="color:rgb(112, 112, 104);" href="/restaurant-bar">NHÀ HÀNG & BAR</a>
    </div>
    <div class = "col d-block-sm" style="text-align: center;">
      <a style="color:rgb(226, 19, 19);" href="/services-other">CÁC DỊCH VỤ KHÁC</a>
    </div>
  </div>
  <div class="col-12"style="padding-left: 0px;padding-right: 0px;"> 
    <p style="text-align: center;"> <span style="font-size: 50px; font-weight: 10px;">NÂNG TẦM</span>  <br> <span  style="font-size: 50px;font-weight: 50px; ">TRẢI NGHIỆM</span> </p>
        <div  class="row" style="margin-left: 0px;margin-right: 0px;">
            <div class="col-6" style="background-image:url('../images/dv1.jpg'); height: 900px;">

            </div>
            <div class="col-6" style="background-image:url('../images/dv2.jpg'); height: 400px;">
            </div>
            <!-- <div class="col-6" style="background-image:url('../images/dv3.jpg'); height: 750px;">
            </div> -->
        
        </div>
        <div class="row" style="margin-left: 0px;margin-right: 0px;">
            <div class="col-6" style="background-image:url('../images/dv4.jpg'); height: 900px;">

            </div>
            <div class="col-6" style="background-image:url('../images/dv3.jpg'); height: 800px;">

            </div>
            <div class="col-6" style="background-image:url('../images/dv5.jpg'); height: 600px;">
            </div>
        </div>
  </div>
</div>

<!-- End of Main -->

<script type="text/javascript">
  $('#nav-home').removeClass('active');
  $('#nav-services').addClass('active');
</script>


<%- include('footer') -%>
