<%- include('header') -%>

<!-- Header -->

<header class="masthead services-masthead mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light text-light"> DỊCH VỤ </h1>
        <p class="lead text-light" style="text-align: center;">See our latest news</p>
      </div>
    </div>
  </div>
</header>

<!-- End of Header -->

<!-- Main -->

<div class = "col-9 center"align='center'>
  <div class="row py-2" >
    <div class = "col d-block-sm pb-4">
      <p style="color:rgb(112, 112, 104); text-align: center;">HỘI HỘP VÀ SỰ KIỆN</p>
    </div>
    <div class = "col d-block-sm">
      <p style="color:rgb(112, 112, 104); text-align: center;">NHÀ HÀNG & BAR</p>
    </div>
    <div class = "col d-block-sm">
      <p style="color:rgb(112, 112, 104); text-align: center;">CÁC DỊCH VỤ KHÁC</p>
    </div>
  </div>
  <div class="col-12"style="padding-left: 0px;padding-right: 0px;">
    <img class="w-100" src="images/events.jpg">
  </div>
  <div >
    <div  class="row border-inset" style="margin-left: 0px;margin-right: 0px;">
      <div class = "col d-block-sm pb-4">
        <div class="center">
          <br>
          <br>
          <br>
          <p id = "top-left">&nbsp;&nbsp;&nbsp;&nbsp;<b>LỰA CHỌN LÝ <br> &nbsp;&nbsp;&nbsp;&nbsp;TƯỞNG CHO NHỮNG <br> &nbsp;&nbsp;&nbsp;&nbsp;HỘI NGHỊ ĐỈNH CAO</b> <br>
            <br>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="about.html" class="btn btn-warning text-uppercase pb-2 active font-size" role="button" aria-pressed="true">Xem
              thêm</a></p>
          <br>
        </div>
      </div>
      <div class = "col text-justify font-size">
        <p class="py" style="color:gray;"><br><br> HỆ THỐNG PHÒNG HỌP TRẢI DÀI THEO VỊ TRÍ KHÁCH SẠN TRÊN CẢ NƯỚC ĐƯỢC THIẾT KẾ KỸ LƯỠNG VỚI CÔNG NĂNG HIỆU QUẢ, CUNG CẤP TRANG THIẾT BỊ HIỆN ĐẠI CÙNG SỨC CHỨA LỚN NHẤT TRONG KHU VỰC. NHỮNG ƯU ĐIỂM VƯỢT TRỘI ĐÓ ĐƯỢC TÍCH HỢP TRONG HỆ THỐNG NGHỈ DƯỠNG VÀ GIẢI TRÍ CỦA KHÁCH SẠN Royal Hotel MANG ĐẾN KHÔNG GIAN LÝ TƯỞNG CHO CÁC SỰ KIỆN HỘI NGHỊ, HỘI THẢO, TRIỂN LÃM, BIỂU DIỄN, TIỆC... ĐẢM BẢO KHẢ NĂNG PHỤC VỤ HÀNG NGÀN LƯỢT KHÁCH CÙNG MỘT THỜI ĐIỂM VỚI CHẤT LƯỢNG CAO NHẤT.</p>
      </div>
      <div class = "col ">
      </div>
      <div class = "col">
      </div>

    </div>
    <div class="row border-outset" style="margin-left: 0px;margin-right: 0px;">
      <div class="col pb-4">

      </div>
      <div class="col-6" style="padding-left: 0px;padding-right: 0px;">
        <br>
        <br>
        <br>
        <br>
        <br>
        <img class="w-100" src="images/events-index.jpg">
        <br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
      <div class="col">
        <div class="center">
          <p id = "top-left"><b>HÁT VANG KHÚC CA <br> LỨA ĐÔI TRONG  <br>KHÔNG GIAN HẠNH PHÚC</b> &nbsp;&nbsp;&nbsp;&nbsp;</p>
          <br>
          <p class="font-size text-justify" style="color:gray;">NHỮNG DỰ ĐỊNH VỀ ĐÁM CƯỚI MƠ ƯỚC CỦA CÁC CẶP ĐÔI SẼ ĐƯỢC HIỆN THỰC TRỌN VẸN NHẤT VỚI Royal Hotel TRONG KHÔNG GIAN SANG TRỌNG, TINH TẾ, TRUNG TÂM CỦA TỈNH THÀNH TẠI Royal Hotel LUXURY SÔNG LAM, Royal Hotel LẠNG SƠN, Royal Hotel HOLIDAY HUẾ…HAY LÃNG MẠN BÊN BỜ BIỂN TRONG GIÓ, CÁT TRẢI DÀI, SÓNG VỖ RÌ RÀO TẠI Royal Hotel LUXURY NHA TRANG, Royal Hotel HOLIDAY MŨI NÉ, Royal Hotel HOLIDAY LÝ SƠN … BỮA TIỆC NGON MIỆNG TRONG KHUNG CẢNH LỄ THÀNH HÔN ĐANG NHỚ NHƯ LÀ MÓN QUÀ Royal Hotel GỬI TẶNG KHÁCH HÀNG CỦA MÌNH, MANG ĐẾN LỜI CHÚC TỐT ĐẸP NHẤT CHO CUỘC SỐNG MỚI NGẬP TRÀN HẠNH PHÚC.
          </p>
        </div>
      </div>
    </div>
  </div>

  </div>
</div>

<!-- End of Main -->

<script type="text/javascript">
  $('#nav-home').removeClass('active');
  $('#nav-services').addClass('active');
</script>


<%- include('footer') -%>
