<%- include('header') -%>

<!-- Header -->

<header class="masthead services-masthead mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light text-light"> DỊCH VỤ </h1>
        <p class="lead text-light">See our latest news</p>
      </div>
    </div>
  </div>
</header>

<!-- End of Header -->

<!-- Main -->

<div class = "col-10 justify-content-center"align='center'>
  <div class="row py-5">
    <div class = "col d-block-sm pb-4">
      <p>HỘI HỘP VÀ SỰ KIỆN</p>
    </div>
    <div class = "col d-block-sm">
      <p>NHÀ HÀNG & BAR</p>
    </div>
    <div class = "col d-block-sm">
      <p>CÁC DỊCH VỤ KHÁC</p>
    </div>
  </div>

</div>

<!-- End of Main -->

<script type="text/javascript">
  $('#nav-home').removeClass('active');
  $('#nav-services').addClass('active');
</script>


<%- include('footer') -%>
